planes.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="planes">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="make"/>
        <xs:element type="xs:string" name="model"/>
        <xs:element type="xs:string" name="engine"/>
        <xs:element type="xs:float" name="year"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>